* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    min-height: 100vh;
    background: #e9edf3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 420px;
    background: white;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .12);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    font-size: 14px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #333;
    border-radius: 8px;
}

select{
    appearance:none;
    background:white;
}

input:focus,
textarea:focus,
select:focus {
    outline: 2px solid black;
    outline-offset: 2px;
}

.row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.row label {
    display: flex;
    align-items: center;
    gap: 6px;
}

.buttons {
    display: flex;
    gap: 12px;
}

button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: black;
    color: white;
}

button:last-child {
    background: #444;
}

@media(max-width:500px) {
    .container {
        border-radius: 0;
        height: 100vh;
    }
}