* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #111;
}

.header {
  background-color: #2874f0;
  color: white;
  position: relative;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.search-bar {
  display: none;
}

.mobile-only {
  display: block;
}

.button-grp {
  display: none;
}

.button-grp.active {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  background-color: #2874f0;
  padding: 10px 0;
  z-index: 1;
  animation: slideOut 0.3s ease-in-out;
}

.button {
  margin: 10px 0;
  padding: 8px 15px;
  border: none;
  border-radius: 2px;
  background-color: #2874f0;
  color: #fff;
  cursor: pointer;
  font-size: small;
  font-weight: normal;
}

.button-white {
  background-color: #fff;
  color: #2874f0;
  font-weight: bold;
}

@keyframes slideOut {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .nav-container {
    max-width: 1200px;
    margin: auto;
  }

  .search-bar {
    display: block;
    position: relative;
  }

  .search-bar input {
    width: 300px;
    padding: 8px 35px 8px 10px;
    border-radius: 4px;
    border: none;
  }

  .search-bar button {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .mobile-only {
    display: none;
  }

  .button-grp {
    display: flex;
    gap: 15px;
    position: static;
    background: none;
    padding: 0;
  }

  .button {
    margin: 0;
    font-size: medium;
    font-weight: bold;
  }
}

.category-section {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #fff;
  width: 100%;
  overflow-x: auto;
}

.category-item {
  text-align: center;
  width: 150px !important;
  margin: 0 10px;
  position: relative;
}

.category-item img {
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 10px;
}

.category-section::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .category-section {
    display: flex;
    gap: 0 20px;
    justify-content: center;
    overflow: auto;
  }

  .category-item {
    width: 120px !important;
  }
}

.dropdown {
  /* position: relative; */
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  bottom: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* deals section */

.deals-section {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.deals-container {
  /* display: flex;
  flex-direction: column; */
  background-color: #fff;
}

.deals-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.one{
  display: flex;
  gap: 10px;
  align-items: center;
}

.deals-title{
  font-size: 24px;
  font-weight: bold;
}

.deals-items {
  display: flex;
  overflow-x: auto;
  position: relative;
}

.deals-items {
  overflow-x: auto;
  scrollbar-width: none;
  gap: 10px;
}

.deals-items::-webkit-scrollbar {
  display: none;
}

.deal-item {
  flex: 0 0 auto;
  width: 150px;
  margin: 10px 0;
  text-align: center;
}

.deal-img {
  width: 100px;
  height: 150px;
  object-fit: contain;
}

.deal-desc {
  font-size: 16px;
  margin-bottom: 10px;
}

.deal-offer {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
}

.deal-text-muted {
  color: #888;
  font-size: 14px;
}

.deals-banner img {
  margin-top: 10px;
}

.deals-banner img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

@media (min-width: 768px) {

  .deals-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px 90px 0 90px
  }

  .deals-container {
    flex: 1;
    overflow: auto;
  }

  .deals-items::after {
    content: '>';
    width: 30px;
    height: 100px;
    background-color: rgba(130, 127, 127, 0.1);
    position: absolute;
    right: 0;
    top: calc(50% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .deal-item {
    width: 200px;
  }

  .deals-banner {
    flex: 0 0 250px;
    display: flex;
    align-items: center;
    justify-self: center
  }

  .deals-banner img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
  }
}

/* others section */

.others-section {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.others-container {
  /* display: flex;
  flex-direction: column; */
  background-color: #fff;
}

.others-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.one {
  display: flex;
  gap: 10px;
  align-items: center;
}

.others-title {
  font-size: 24px;
  font-weight: bold;
}

.others-items {
  display: flex;
  overflow-x: auto;
  position: relative;
}

.others-items {
  overflow-x: auto;
  scrollbar-width: none;
  gap: 10px;
}

.others-items::-webkit-scrollbar {
  display: none;
}

.other-item {
  flex: 0 0 auto;
  width: 150px;
  margin: 10px 0;
  text-align: center;
}

.other-img {
  width: 100px;
  height: 150px;
  object-fit: contain;
}

.other-desc {
  font-size: 16px;
  margin-bottom: 10px;
}

.other-offer {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
}

.other-text-muted {
  color: #888;
  font-size: 14px;
}

.others-banner img {
  margin-top: 10px;
}

.others-banner img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .others-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px 90px 0 90px
  }

  .others-container {
    flex: 1;
    overflow: auto;
  }

  .others-items::after {
    content: '>';
    width: 30px;
    height: 100px;
    background-color: rgba(130, 127, 127, 0.1);
    position: absolute;
    right: 0;
    top: calc(50% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .other-item {
    width: 200px;
  }

  .others-banner {
    flex: 0 0 250px;
    display: flex;
    align-items: center;
    justify-self: center
  }

  .others-banner img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
  }
}